:root {
    --background: #28292a;
    --elevated: #414244;
    --elevated-two: #737578;
    --font: #f0f6ff;
    --rainbow: linear-gradient(0deg, #630606, #E83A14, #FFD93D, #019267, #2FA4FF, #0E185F,#533E85);
    --button: #2ea4ff;
    --active-button: hsl(206, 100%, 64%);
    font-family: "Roboto", sans-serif;
    color: var(--font);
    background-color: var(--background);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.sidebar {
    background: var(--rainbow);
    padding: 20px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    font-weight: bold;
    font-size: 1.3em;
}

.branding {
    font-size: 1.4em;
    margin-bottom: 50px;
}

.tabs {
    margin-bottom: 50px;
    display: grid;
    gap: 20px;
}

.account {
    display: grid;
    gap: 20px;
}

.header {
    background-color: var(--elevated);
    grid-column: 2 / 3;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
}

.search {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}

input {
    min-width: 400px;
    height: 30px;
    border-radius: 10px;
    font-size: 1em;
    background-color: var(--font);
    border-style: none;
    padding: 10px;
    color: var(--background);
    outline: none;
}

.header-second {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.btns {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.btn {
    font-size: 1em;
    font-weight: 700;
    color: var(--font);
    background: var(--button);
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.user-name {
    font-size: 1.2em;
    font-weight: bold;
}

.user-info {
    font-size: 0.9em;
    font-weight: bold;
    align-self: center;
}

.greeting {
    margin-bottom: 5px;
}

.user {
    font-size: 1.4em;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 25px 0px 25px;
}

.third-col {
    margin-left: 25px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.projects-container {
    grid-column: 1 / 2;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.project-card {
    background-color: var(--elevated);
    padding: 20px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-weight: bold;
    font-size: 1.3em;
}

.project-title {
    font-weight: bold;
}

.project-description {
    font-weight: 300;
    margin-bottom: 12px;
}

.announcements-container {
    font-size: 0.9em;
    background-color: var(--elevated);
    border-bottom-color: rgb(255, 255, 255);
    padding: 20px;
    display: grid;
}

.announcement-title {
    font-weight: bold;
}

.announcement-description {
    font-weight: 300;
}

.announcement {
    padding: 5px 0px 5px 0px;
}

.trendings {
    font-size: 0.9em;
}

.trending {
    padding: 20px;
    background-color: var(--elevated);
    display: grid;
    gap: 15px;
}

.trending-title {
    font-weight: 300;
}

button:hover {
    cursor: pointer;
}

.btn:active {
    background-color: var(--active-button);
}

.interaction-container {
    display: flex;
    gap: 25px;
    align-self: flex-end;
}

.interaction-btn {
    height: 25px;
    width: 25px;
    background-color: var(--elevated);
    border-style: none;
}

#favourite-btn {
    background-image: url("./images/favourite-plus.svg");
}

#watch-btn {
    background-image: url("./images/watch.svg");
}

#share-btn {
    background-image: url("./images/share.svg");
}